

body{
    background-color: rgb(241, 191, 191);
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;

  
}



.header{
    background-color:rgb(202, 153, 153);
    padding: 20px;
    box-sizing: border-box;

}

h1{
    color: white;
}

.header-left{
    width: 30%;
    display: inline-block;
    padding: 1px;
    box-sizing: border-box;
    
}
.header-right{
    width: 60%;
    display: inline-block;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}
.menu-item{
    display: inline-block;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.special{
    border: 1px solid lightgray;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
   
}



.content-left {
width: 15%;
display: inline-block;
vertical-align: top;
box-sizing: border-box;
font-weight: bold;



}

.content-right {
    width: 85%;
    display: inline-block;
    text-align: left;
    border-top-left-radius: 30px;
    border-left: 10px solid  darkgrey;
    border-top: 10px solid darkgrey;
    box-sizing: border-box;

    padding: 10px;
    box-sizing: border-box;
    position: relative; 

    
}

.content-right::after {
    content: "";
    background: url("tausta.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }

.footer{
    background-color: rosybrown;
    height: 20px;
    color: white ;
}
    